{% for localnet in squid3__localnets %}
acl localnet src {{ localnet }}
{% endfor %}

{% if squid3__custom_localnets is defined %}
{% for localnet in squid3__custom_localnets %}
acl localnet src {{ localnet }}
{% endfor %}
{% endif %}

{% for sslports in squid3__sslports %}
acl SSL_ports port {{ sslports }}
{% endfor %}

{% if squid3__custom_sslports is defined %}
{% for sslports in squid3__custom_sslports %}
acl SSL_ports port {{ sslports }}
{% endfor %}
{% endif %}

{% for safeports in squid3__safeports %}
acl Safe_ports port {{ safeports }}
{% endfor %}

{% if squid3__custom_safeports is defined %}
{% for safeports in squid3__custom_safeports %}
acl Safe_ports port {{ safeports }}
{% endfor %}
{% endif %}

{% for acl in squid3__acls %}
acl {{ acl.name }} {{ acl.type }} {{ acl.arg }}
{% endfor %}

{% if squid3__custom_acls is defined %}
{% for acl in squid3__custom_acls %}
acl {{ acl.name }} {{ acl.type }} {{ acl.arg }}
{% endfor %}
{% endif %}

{% if squid3__custom_http_access is defined %}
{% for http_access in squid3__custom_http_access %}
http_access {{ http_access.perm }} {{ http_access.aclname }}
{% endfor %}
{% endif %}

{% for http_access in squid3__http_access %}
http_access {{ http_access.perm }} {{ http_access.aclname }}
{% endfor %}

http_port {{ squid3__port }}

{% if squid3__custom_diskcache is defined %}
{% if squid3__custom_diskcache %}
cache_dir {{ squid3__custom_diskcache }}
{% endif %}
{% elif squid3__diskcache %}
cache_dir {{ squid3__diskcache }}
{% endif %}

{% if squid3__coredumpdir %}
coredump_dir {{ squid3__coredumpdir }}
{% endif %} 

{% for rp in squid3__refresh_pattern %}
refresh_pattern {{ rp.case_sensitive }} {{ rp.regex }} {{ rp.min }} {{ rp.percent }} {{ rp.max }} {{ rp.opts }}
{% endfor %}

{% if squid3__custom_refresh_pattern is defined %}
{% for rp in squid3__custom_refresh_pattern %}
refresh_pattern {{ rp.case_sensitive }} {{ rp.regex }} {{ rp.min }} {{ rp.percent }} {{ rp.max }} {{ rp.opts }}
{% endfor %}
{% endif %}

{% if squid3__outgoing_adress %}
tcp_outgoing_address {{ squid3__outgoing_address }}
{% endif %}

visible_hostname {{ ansible_hostname }}
